<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->

<!--</body><div class="page-sidebar navbar-collapse collapse"  ng-show="!isHiddenMain" ng-controller="MenuController as vm">-->
<!--    &lt;!&ndash; BEGIN SIDEBAR MENU &ndash;&gt;-->
<!--    &lt;!&ndash; DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) &ndash;&gt;-->
<!--    &lt;!&ndash; DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode &ndash;&gt;-->
<!--    &lt;!&ndash; DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode &ndash;&gt;-->
<!--    &lt;!&ndash; DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing &ndash;&gt;-->
<!--    &lt;!&ndash; DOC: Set data-keep-expand="true" to keep the submenues expanded &ndash;&gt;-->
<!--    &lt;!&ndash; DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed &ndash;&gt;-->
<!--    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">-->
<!--        &lt;!&ndash; DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element &ndash;&gt;-->
<!--        <li class="sidebar-search-wrapper">-->
<!--            &lt;!&ndash; BEGIN RESPONSIVE QUICK SEARCH FORM &ndash;&gt;-->
<!--            &lt;!&ndash; DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box &ndash;&gt;-->
<!--            &lt;!&ndash; DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box &ndash;&gt;-->
<!--            <form class="sidebar-search sidebar-search-bordered" action="#" method="POST">-->
<!--                <a href="javascript:;" class="remove">-->
<!--                    <i class="icon-close"></i>-->
<!--                </a>-->
<!--                <div class="input-menu">-->
<!--                    <input type="text" class="input-menu-button form-control" placeholder="Search..."/>-->
<!--                    <span class="input-menu-btn">-->
<!--                        <a href="javascript:;">-->
<!--                            <i class="icon-magnifier"></i>-->
<!--                        </a>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </form>-->
<!--            &lt;!&ndash; END RESPONSIVE QUICK SEARCH FORM &ndash;&gt;-->
<!--        </li>-->
<!--        <li class="start nav-item">-->
<!--            <a href="#/dashboard.html">-->
<!--                <i class="icon-home"></i>-->
<!--                <span class="title" translate>Trang chủ</span>-->
<!--                <span class="selected"></span>-->
<!--            </a>-->
<!--        </li>-->


<!--        <li class="nav-item">-->

<!--            <a href="javascript:;" class="nav-link nav-toggle">-->
<!--                <div class="gl" >&nbsp;&nbsp;&nbsp;&nbsp;</div>-->
<!--                <span class="title" translate>Quản lý tài sản</span>-->
<!--                <span class="arrow "></span>-->
<!--            </a>-->
<!--            <ul class="sub-menu">-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('LONG_TERM_ASSET_ENTITY')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>Tài sản không qua xây lắp</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('ASSET_SETTLEMENT')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>Quyết toán tài sản</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('Asset_CatAssetCode')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>Quản lý mã tài sản</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('Asset_ReportS21')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>In sổ tài sản mẫu S21</p>-->
<!--                    </a>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('Asset_ReportS22')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>In sổ tài sản mẫu S22</p>-->
<!--                    </a>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('Asset_ReportS23')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>In sổ tài sản mẫu S23</p>-->
<!--                    </a>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('DETAIL_ASSET')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>Xem chi tiết tài sản</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('FINALIZATION_ASSET')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>Quyết toán tài sản</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('Asset_CatAssetList')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>Danh sách tài sản</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="arrow">-->
<!--                    <a href="javascript:void(0);" ng-click="vm.goTo('Asset_CatAssetDetail')">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title" translate>Hình thành tài khoản qua xây lắp</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->

<!--        <li class="nav-item" ng-repeat="parentMenu in vm.menuObjects" >-->

<!--            <a ng-if="parentMenu.childObjects.length>0" href="javascript:;" class="nav-link nav-toggle">-->
<!--                <div class="gl" >&nbsp;&nbsp;&nbsp;&nbsp;</div>-->
<!--                <span class="title" ng-bind="vm.getMenuText(parentMenu.objectUrl)" translate ></span>-->
<!--                <span class="arrow"></span>-->
<!--            </a>-->
<!--            <a ng-if="parentMenu.childObjects.length==0" href="javascript:;" class="nav-link nav-toggle">-->
<!--                <div class="gl" >&nbsp;&nbsp;&nbsp;&nbsp;</div>-->
<!--                <span class="title" translate ng-bind="vm.getMenuText(parentMenu.objectUrl)"></span>-->
<!--                <span class="arrow"></span>-->
<!--            </a>-->
<!--            <ul class="sub-menu" ng-if="parentMenu.childObjects.length>0">-->
<!--                <li ng-repeat="childObject in parentMenu.childObjects">-->
<!--                    &lt;!&ndash; Nếu không có con hiển thị menu&ndash;&gt;-->
<!--                    <a href="javascript:;" ng-if="childObject.objectType === 'M'" ng-click="vm.goTo(childObject.objectUrl)">-->
<!--                        <i class="fa fa-circle" aria-hidden="true"></i>-->
<!--                        <p class="title"><span ng-bind="vm.getMenuText(childObject.objectUrl)"></span></p>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->
<!--    &lt;!&ndash; END SIDEBAR MENU &ndash;&gt;-->
<!--</div>-->
<!--</html>-->