
<!--    trang html cua thanh cong cu-->

<div class="page-sidebar navbar-collapse collapse" ng-controller="MenuController as vm">
    <ul class="page-sidebar-menu" data-keep-expanded="false"
        data-auto-scroll="true" data-slide-speed="200"
        ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start nav-item">
            <a href="javascript:;" ng-click="vm.goTo('DASH_BOARD')">
                <i class="icon-home"></i>
                <span class="title" translate>Trang chủ</span>
                <span class="selected"></span>
            </a>
        </li>

        <!-- Vsa -->
        <li class="nav-item" ng-repeat="parentMenu in vm.menuObjects">
            <a href="javascript:;" ng-show="parentMenu.listChildObject.length>0" class="nav-link nav-toggle">
                <div class="dmgl">&nbsp;&nbsp;&nbsp;&nbsp;</div>
                <span class="title" ng-bind="parentMenu.objectName"></span>
                <span class="arrow"></span>
            </a>
            <a href="javascript:;" ng-show="parentMenu.listChildObject.length==0"
               ng-click="vm.goTo(parentMenu.objectUrl)" class="nav-link nav-toggle">
                <i class="fa fa-circle" aria-hidden="true"></i>
                <p class="title font-weight-menu">
                    <span ng-bind="vm.getMenuText(parentMenu)"></span>
                </p>
            </a>
<!--            list danh sách các menu của thanh công cụ-->
            <ul class="sub-menu" ng-if="parentMenu.listChildObject.length>0">
                <li ng-repeat="childObject in parentMenu.listChildObject"
                    ng-class="childObject.listChildObject.length>0?'nav-item':''">
                    <!--   Nếu không có con hiển thị menu -->
                    <a href="javascript:;" ng-click="vm.goTo(childObject.objectUrl)">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <p class="title">
                            <span ng-bind="vm.getMenuText(childObject)"></span>
                        </p>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>