<form class="form-horizontal row" role="form" name="areasManagement"
      id="areasManagement" kendo-validator="validator" k-options="validatorOptions">
    <p></p>
    <div class="portlet-title">
        <div class="caption">
			<span class="caption-subject bold lowercase" translate>
                Thông tin chung
            </span>
        </div>
    </div>
    <div class="portlet light bordered">
        <p></p>
        <div class="clearfix">
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label req" translate>Mã đơn vị</label>
                <div class="col-md-8">
                    <input class=" form-control width100" type="text" required
                           data-required-msg="Mã đơn vị không được để trống"
                           id="creater_idareas"
                           name="creater_idareas" special-character-code
                           has-white-space
                           maxlength="100"
                           ng-model="caller.areasManagementCreate.areaCode">
                    <span data-for="creater_idareas" class="k-invalid-msg "></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-md-4 control-label req" translate>Tên đơn vị</label>
                <div class="col-md-8">
                    <input class=" form-control width100" type="text" required
                           data-required-msg="Tên đơn vị không được để trống"
                           id="creater_areaName"
                           name="creater_areaName"
                           special-character
                           maxlength="300"
                           ng-model="caller.areasManagementCreate.areaName">
                    <span data-for="creater_areaName" class="k-invalid-msg"></span>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <auto-search model-label="Đơn vị cha"
                         caller="caller"
                         header-template="caller.headerTemplate" template-auto="caller.template"
                         page="1" page-size="20"
                         popup-type="grid"
                         combo-id="areamanagement_create_parent"
                         combo-source-link="areaServiceRest/area/getParen"
                         combo-name="areaName" combo-value="id"
                         combo-code="code"
                         combo-search="caller.commonSearch"
                         model-id="caller.areasManagementCreate.parentId"
                         model-name="caller.areasManagementCreate.parentName"
                         model-code="caller.areasManagementCreate.areaCode"
                         model-disabled="!caller.isCreateNew"
            >
            </auto-search>
            <div class="form-group col-md-6">
                <label class="col-md-4 control-label req" translate>Trạng thái</label>
                <div class="col-md-8">
                    <select
                            kendo-drop-down-list class="form-control" id="create_status"
                            k-options="caller.statusSelectOptions"
                            style="width: 100%"
                            name="create_status" required
                            data-required-msg="Trạng thái không được để trống"
                            ng-model="caller.areasManagementCreate.status">
                    </select>
                    <span data-for="create_status" class="k-invalid-msg"></span>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="portlet light" align="right">
                <button type="button" class="btn btn-qlk padding-search-right saveQLK" ng-click="save()" translate>
                    Ghi lại
                </button>
                <button type="button" class="btn btn-qlk padding-search-right closeQLK" id="cancel" ng-click="cancel()" translate>
                    Hủy bỏ
                </button>
            </div>
        </div>
    </div>
</form>